.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

@media (max-width:768px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    max-width: 220px;
  }
}